<style type="text/css">
.button {
	-moz-box-shadow: 0px 0px 0px 0px #bbdaf7;
	-webkit-box-shadow: 0px 0px 0px 0px #bbdaf7;
	box-shadow: 0px 0px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #1c1e21) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #1c1e21 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#1c1e21');
	background-color:#79bbff;
	-webkit-border-top-left-radius:42px;
	-moz-border-radius-topleft:42px;
	border-top-left-radius:42px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:42px;
	-moz-border-radius-bottomright:42px;
	border-bottom-right-radius:42px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:2px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:Verdana;
	font-size:21px;
	font-weight:bold;
	font-style:normal;
	height:41px;
	line-height:41px;
	width:111px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #528ecc;
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1c1e21), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #1c1e21 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c1e21', endColorstr='#79bbff');
	background-color:#1c1e21;
}.button:active {
	position:relative;
	top:1px;
}</style>